version: 2
jobs:
  step-four:
    docker:
      - image: circleci/node:16
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn install --immutable --immutable-cache
      - run:
          name: Run tests
          command: yarn test:unit

workflows:
  version: 2
  main:
    jobs:
      - step-four
