@mixin landing-page-background() {
  background-color: $ui-01;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -$spacing-06;
    top: 0;
    right: -$spacing-06;
    bottom: 0;
    background: $ui-01;
  }

  > * {
    /* lift above position absolute */
    position: relative;
  }
}
