/*
* @Author: fanchenyu
* @Date:   2020-02-26 20:18:08
* @Last Modified by:   fanchenyu
* @Last Modified time: 2020-02-26 20:20:25
*/
@mixin landing-page-background() {
  background-color: $ui-01;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -$spacing-05;
    top: 0;
    right: -$spacing-05;
    bottom: 0;
    background: $ui-01;
    z-index: -1;
  }
}